<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet">
<style>

  :root {
    --sys-font-family: "Noto Sans SC";
    --zh-font-family: "Noto Sans SC";
    --base-font-family: "Noto Sans SC";
    --code-font-family: "Noto Sans SC";
    --article-font-family: "Noto Sans SC";
  }


p {
	text-align: justify; 
	text-justify: inter-ideograph; 
	color: #000000;
	text-indent: 2em;
}


   hr
{
	border: solid;
    height: 5px;
color: #000000;
    margin: 36px 0;
	overflow: visible;
    text-align: center;
}


hr:after {
    background: #fff;
    content: 'd=(╹ڡ╹ )>';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.footnotes p{
text-indent: 0;
}

blockquote p{
text-indent: 0;
}
</style>

<script>
  (function () {
    const customFont = document.createElement("link");
    customFont.href =
      "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap";

    customFont.type = "text/css";
    customFont.rel = "stylesheet";

    document.head.appendChild(customFont);
  })();
</script>