
<style>
.en {
            p {
	text-align: justify; 
	text-justify: inter-ideograph; 
	color: #000000;
            }

ol>*, ul>*, li>* {
text-indent: 0em;
}
}

.zh {
            p {
	text-align: justify; 
	text-justify: inter-ideograph; 
	color: #000000;
	text-indent: 2em;
            }

ol>*, ul>*, li>* {
text-indent: 0em;
}
}

   hr
{
	border: solid;
    height: 5px;
color: #000000;
    margin: 36px 0;
	overflow: visible;
    text-align: center;
}


hr:after {
    background: #fff;
    content: 'd=(╹ڡ╹ )>';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
</style>